@media (min-width: 766px)
{
    .background
    {
        background-image: url(../img/scenic-snowy-mountains.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .backgroundpadding
    {
        padding-left:300px;
        padding-right:300px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}



